.home {
  /* teste */
  @media only screen and (max-width: 1366px) {
    .texto-entrada {
      margin-top: -7em;
      margin-right: 20em;
    }

    .nav-buttons {
      margin-top: 2em;
      margin-left: 52em;
    }

  }
}

@media only screen and (min-width: 1440px) {
  .navbar {
    margin: 25px 40px;
    padding: 0 25px;
  }

  .anim {
    width: 20em;
    top: 15%;
    animation-name: floatWide;
  }

  @keyframes floatWide {
    0% {
      top: 12%
    }

    50% {
      top: 15%
    }

    100% {
      top: 12%
    }
  }

  .slider-hero {
    img {
      top: 5em;
      width: 12em;
    }
  }
}

.hero {
  @media only screen and (min-width: 1920px) {
    .navbar {
      margin: 35px 50px;
      padding: 0 125px;
    }

    .anim {
      width: 27em;
      top: 20%;
      animation: floatFull 6s ease infinite;
    }

    @keyframes floatFull {
      0% {
        top: 15%
      }

      50% {
        top: 20%
      }

      100% {
        top: 15%
      }
    }

    .slider-hero {
      img {
        top: 6em;
        width: 16.5em;
      }
    }
  }

  @media only screen and (min-width: 2560px) {
    .navbar {
      margin: 35px 200px;
      padding: 0 225px;
    }

    .anim {
      width: 37em;
      top: 25%;
      animation: floatUltra 6s ease infinite;
    }

    @keyframes floatUltra {
      0% {
        top: 20%
      }

      50% {
        top: 25%
      }

      100% {
        top: 20%
      }
    }

    .slider-hero {
      img {
        top: 5em;
        width: 23em;
      }
    }
  }
}