@import url('https://fonts.googleapis.com/css?family=Cairo:200,400,600,700,900&display=swap');

// Set your brand colors
$purple: #7510ED;
$cyan: #00E0CE;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$fb-color: #4267B2;
$twt-color: #1DA1F2;

// Update Bulma's global variables
$font-family: 'Cairo', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $cyan;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$family-sans-serif: $font-family;