@import url('https://fonts.googleapis.com/css?family=Cairo:200,400,600,700,900&display=swap');

// Set your brand colors
$success-purple: #8136f1;
$green: #55CC34;
$brown: #b27978;
$silver-grey: #69788E;
$purple: #7510ED;
$dark-purple: #2c0452;
$cyan: #00E0CE;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$fb-color: #4267B2;
$twt-color: #1DA1F2;
$insta-color: #d62976;
$yt-color: #ff0000;
$blueish: #00669c;
$pink: #e44670;
$orange: #FE450D;
$bluedot: #0000FF;

// Update Bulma's global variables
$font-family: 'Cairo', sans-serif;
$grey-dark: $dark-purple;
$link: $cyan;
$info: $success-purple;
$success: $green;
$grey-light: $beige-light;
$primary: $purple;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$family-sans-serif: $font-family;
$navbar-breakpoint: 1024px;