.consultor {
  @media only screen and (max-width: 1366px) and (min-width: 1280px) {
    .texto-entrada {
      margin-top: -3em;
      margin-left: 10em;
    }

    .nav-buttons {
      margin-top: -9em;
    }
  }

  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .texto-entrada {
      margin-top: -5em;
      margin-left: 1em;
    }

    .nav-buttons {
      margin-top: -9em;
    }

    #solutions {
      .columns {
        height: 150px;
        width: 250px;
      }
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1240px) {
    .texto-entrada {
      margin-top: -3em;
      margin-left: 10em;
    }

    .nav-buttons {
      margin-top: -9em;
    }
  }

  @media only screen and (max-width: 1920px) and (min-width: 1600px) {}


  @media only screen and (max-width: 2560px) and (min-width: 2133px) {
    .texto-entrada {
      margin-left: 30em;
    }

  }

  .hero {
    @media only screen and (max-width: 425px) {
      height: 85vh;
      background-size: cover;
      background-position: center center;
    }
  }

  @media only screen and (max-width: 320px) {
    .texto-entrada {
      width: 100%;
      margin: 1.5em auto !important;
      text-align: center;

      .title {
        font-size: 1.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }

    .nav-buttons {
      margin-top: -7.75em;
    }

    .slider-hero {
      img {
        top: 10em;
        width: 15em;
      }
    }

    .cards {
      margin: 3rem 0 0 0 !important;

      .swiper-slide {
        margin: 0 !important;
      }
    }

    .how-works {
      margin: 3rem 0 0 0 !important;

      .swiper-slide {
        margin: 0 !important;
      }
    }

  }

  @media only screen and (max-width: 375px) and (min-width: 321px) {

    .texto-entrada {
      width: 100%;
      margin: 1.5em auto !important;
      text-align: center;

      .title {
        font-size: 1.76rem;
      }

      .subtitle {
        font-size: 1.25rem;
      }
    }

    .nav-buttons {
      margin-top: -8.5em;
    }

    .slider-hero {
      img {
        top: 10.5em;
        width: 16em;
      }
    }

    .cards {
      margin: 3rem 0 0 0 !important;

      .swiper-slide {
        margin: 0 !important;
      }
    }

    .how-works {
      margin: 3rem 0 0 0 !important;

      .swiper-slide {
        margin: 0 !important;
      }
    }

  }

  @media screen and (max-width: 425px) and (min-width: 376px) {

    .texto-entrada {
      width: 100%;
      margin: 1.5em auto !important;
      text-align: center;

      .title {
        font-size: 1.76rem;
      }

      .subtitle {
        font-size: 1.25rem;
      }
    }

    .nav-buttons {
      margin-top: -15.5em;
    }

    .slider-hero {
      img {
        top: 10.5em;
        width: 16em;
      }
    }

    .cards {
      margin: 3rem 0 0 0 !important;

      .swiper-slide {
        margin: 0 !important;
      }
    }

    .how-works {
      margin: 3rem 0 0 0 !important;

      .swiper-slide {
        margin: 0 !important;
      }
    }
  }

  @media screen and (max-width: 800px) and (min-width: 600px) {

    .texto-entrada {
      width: 100%;
      margin: 1.5em auto !important;
      text-align: center;

      .title {
        font-size: 1.76rem;
      }

      .subtitle {
        font-size: 1.25rem;
      }
    }

    .nav-buttons {
      margin-top: 20em;
    }

    @media only screen and (height: 1200px) {
      .nav-buttons {
        margin-top: -5em;
      }
    }

    .slider-hero {
      img {
        top: 8.5em;
        width: 22em;
      }
    }

    .cards {
      margin: 5rem 0 0 0 !important;
      height: 25vh;
      .swiper-slide {
        margin: 0 !important;
      }
    }

    .how-works {
      margin: 5rem 0 0 0 !important;

      .swiper-slide {
        margin: 0 !important;
      }
    }
  }
}