.home {
  .cards {
    @media only screen and (max-width: 425px) {
      .subtitle {
        margin: 1em 0 !important;
      }
    }
    @media only screen and (max-width: 768px) {
      .column {
        height: 15em !important;
      }
    }
  }
}


.home {
  @media only screen and (max-width: 1280px) and (min-width: 1024px) {

    .slider-hero {
      img {
        top: 3.5em;
        width: 12em;
      }
    }

    .texto-entrada {
      margin-top: -6.5em;
      margin-right: 10em;
    }

    .nav-buttons {
      margin-top: 2.55em;
      margin-left: 52em;
    }

    .cards {
      margin-top: 1rem !important;
    }

  }

  @media only screen and (max-width: 1366px) and (min-width: 1366px) {
    .cards {
      .subtitle {
        margin-right: 5em;
      }
    }

    .slider-hero {
      img {
        top: 3.5em;
        width: 12em;
      }
    }

    .texto-entrada {
      margin-top: -6em;
      margin-right: 10em;
    }

    .nav-buttons {
      margin-top: 4.5em;
      margin-left: 52em;
    }

    .anim {
      width: 18em;
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1367px) {
    .anim {
      width: 20em;
      top: 15%;
      animation-name: floatWide;
    }

    @keyframes floatWide {
      0% {
        top: 12%
      }

      50% {
        top: 15%
      }

      100% {
        top: 12%
      }
    }

    .slider-hero {
      img {
        top: 5em;
        width: 12em;
      }
    }

    .texto-entrada {
      float: right;
      margin-top: -4.5em;
      margin-right: 10em;
    }
  }

  @media only screen and (max-width: 1920px) and (min-width: 1600px) {

    .hero {
      height: 70vh;
    }

    .anim {
      width: 27em;
      top: 20%;
      animation: floatFull 6s ease infinite;
    }

    @keyframes floatFull {
      0% {
        top: 15%
      }

      50% {
        top: 20%
      }

      100% {
        top: 15%
      }
    }

    .slider-hero {
      img {
        top: 6em;
        width: 16.5em !important;
      }
    }

    .cards {
      .swiper-container {
        width: 90%;
      }

      .swiper-wrapper {
        width: 90%;

        .swiper-slide {
          margin: 0 auto;
        }
      }
    }
  }


  @media only screen and (max-width: 2560px) and (min-width: 2133px) {

    .hero {
      height: 80vh;
    }

    .cards {
      .subtitle {
        margin-right: 15em;
      }
    }

    .anim {
      width: 37em;
      top: 20%;
      animation: floatUltra 6s ease infinite;
    }

    @keyframes floatUltra {
      0% {
        top: 15%
      }

      50% {
        top: 20%
      }

      100% {
        top: 15%
      }
    }

    .slider-hero {
      img {
        top: 5em;
        width: 23em;
      }
    }

    .texto-entrada {
      margin-top: -4em;
      margin-right: 25em;

      .title {
        font-size: 4rem;
      }

      .subtitle {
        font-size: 3.25rem;
      }
    }

    .nav-buttons {
      margin-top: 15em;
      margin-left: 102em;
    }

    .cards {
      .swiper-container {
        width: 80%;
      }

      .swiper-wrapper {
        width: 80%;

        .swiper-slide {
          margin: 0 auto;
        }
      }
    }

  }

  .hero {
    @media only screen and (max-width: 425px) {
      height: 85vh;
      background-size: cover;
      background-position: center center;
    }

    @media only screen and (max-width: 800px) {
      height: 55vh;
      background-size: cover;
      background-position: center center;
    }
  }

  @media only screen and (max-width: 320px) {
    .texto-entrada {
      width: 100%;
      text-align: center;
      margin: -7.5em auto !important;

      .title {
        font-size: 1.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }

    .nav-buttons {
      width: 100%;
      text-align: center;
      margin: 16em auto;
    }

    .anim {
      width: 17em;
      top: 25%;
      animation-name: floatSM;
    }

    @keyframes floatSM {
      0% {
        top: 20%
      }

      50% {
        top: 25%
      }

      100% {
        top: 20%
      }
    }

    .slider-hero {
      img {
        top: 8em;
        width: 12em;
      }
    }

    .cards {
      margin-top: 2rem;
    }

    .precos {
      .conteudo {
        background-image: none;
      }
    }

    @media screen and (max-height: 570px){
      .slider-hero {
        img {
          top: 4em !important;
          width: 10em;
        }
      }
    }
  }

  @media only screen and (max-width: 375px) and (min-width: 321px) {
    .texto-entrada {
      width: 100%;
      text-align: center;
      margin: -7.5em auto !important;

      .title {
        font-size: 1.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }

    .nav-buttons {
      width: 100%;
      text-align: center;
      margin: 16em auto;
    }

    .anim {
      width: 20em;
      top: 25%;
      animation-name: floatSM;
    }

    @keyframes floatSM {
      0% {
        top: 20%
      }

      50% {
        top: 25%
      }

      100% {
        top: 20%
      }
    }

    .slider-hero {
      img {
        top: 8em !important;
        width: 12em;
      }
    }

    .cards {
      margin-top: 2rem;
    }

    .precos {
      .conteudo {
        background-image: none;
      }
    }

    @media screen and (max-height: 675px){
      .slider-hero {
        img {
          top: 5em !important;
          width: 10em;
        }
      }
  
    }

  }

  @media screen and (max-width: 425px) and (min-width: 376px) {
    .cards {
      .subtitle {
        //margin-right: 0em;
      }
    }

    .texto-entrada {
      width: 100%;
      text-align: center;
      margin: -8.25em auto !important;

      .title {
        font-size: 1.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }

    .slider-hero {
      img {
        top: 7em !important;
        width: 12em;
      }
    }

    .nav-buttons {
      width: 100%;
      text-align: center;
      margin: 16em auto;
    }

    .anim {
      width: 22em;
      animation-name: floatSM;
    }

    @keyframes floatSM {
      0% {
        top: 20%
      }

      50% {
        top: 25%
      }

      100% {
        top: 20%
      }
    }

    .cards {
      margin-top: 2rem;
    }

    .precos {
      .conteudo {
        background-image: none;
      }
    }
  }

  @media screen and (max-width: 780px) and (min-width: 600px) {
    .cards {
      .subtitle {
        //margin-right: 0em;
      }
    }

    .texto-entrada {
      width: 100%;
      text-align: center;
      margin: -8.75em auto !important;
    }

    .slider-hero {
      img {
        top: 8em !important;
        width: 16em;
      }
    }

    .nav-buttons {
      width: 100%;
      text-align: center;
      margin: 20em auto;
    }

    .anim {
      width: 22em;
      animation-name: floatSM;
    }

    @keyframes floatSM {
      0% {
        top: 20%
      }

      50% {
        top: 25%
      }

      100% {
        top: 20%
      }
    }

    .cards {
      margin-top: 2rem;
    }

    .precos {
      .conteudo {
        background-image: none;
      }
    }
  }

}

/* @media only screen and (max-width: 375px) and (min-width: 321px) {
  .texto-entrada {
    margin: -2em auto;

    .title {
      font-size: 1.5rem;
    }

    .subtitle {
      font-size: 1rem;
    }
  }

  .nav-buttons {
    margin-top: 23em;
    margin-left: 14em !important;
  }

  .anim {
    width: 20em;
    top: 25%;
    animation-name: floatSM;
  }

  @keyframes floatSM {
    0% {
      top: 20%
    }

    50% {
      top: 25%
    }

    100% {
      top: 20%
    }
  }

  .slider-hero {
    img {
      top: 8em !important;
      width: 12em;
    }
  }
} */

/* @media screen and (max-width: 425px) and (min-width: 376px) {
  .texto-entrada {
    margin: -2em auto;

    .title {
      font-size: 1.5rem;
    }

    .subtitle {
      font-size: 1rem;
    }
  }

  .slider-hero {
    img {
      top: 7em !important;
      width: 12em;
    }
  }

  .nav-buttons {
    margin-top: 22em;
    margin-left: 16em;
  }

  .anim {
    width: 22em;
    animation-name: floatSM;
  }

  @keyframes floatSM {
    0% {
      top: 20%
    }

    50% {
      top: 25%
    }

    100% {
      top: 20%
    }
  }
} */