.artigo {
  section.hero {
      height: 375px;
      background-image: linear-gradient( 300deg, rgb(146,32,212) 0%, rgb(102,16,209) 100%);
      .hero-body{
        padding: 24px 24px;
          .lead{
            padding: 0px;
            color: white;
            @media only screen and (min-width: 1360px) {
              max-width: 1248px;
            }
            .info{
              margin: 0px;
              .column{
                padding: 20px 0px 0px 0px;
              }
            }
            svg{
              color: orange;
            }
            h1, h2{
              color: white;
            }
          }
      }
      
  }

  .article{
    background-color: white;
    .article_organizer{
      margin-top: 10px;
      background-color: white;
      @media only screen and (min-width: 1360px) {
        max-width: 1248px;
      }
      .article_body{
        img{
          width: 100%;
        }
      }

    }
  }

  footer{
      margin-top: 100px;
  }


}