.anunciante {
  section.hero {
      height: 375px;
      background-image: linear-gradient( 300deg, rgb(63,242,113) 0%, rgb(16,179,209) 100%);
      p{
        background-color: rgba(0, 0, 0, 0.3);
        border-width: 0;
        border-radius: 100px;
        color: white;
        display: inline-block;
        padding: 5px 30px;
        float: right;
        margin-right: 33.3%;
        margin-top: -2.5%;
        @media screen and(max-width: 768px){
          float: none;
          margin: 0 auto;
          width: 100%;
        }
        strong{
          color: white;
        }
    }

  }

  .modelo-consultor{
    position: absolute;
    top: 10%;
    left: 24.5%;
    height: 610px;

    @media screen and (min-width: 768px) and (max-width: 1024px){
      left: 16%;
    }

    @media screen and (min-width: 1366px) and (max-width: 1440px){
      left: 21.5%;
    }
    @media screen and (min-width: 2560px){
      left: 26.75%;
    }
    @media screen and (max-width: 768px){
      display: none;
    }
  }
  
  .columns {
    margin-top: -200px;

      .texto-inicio {
        margin: 10px 0;
      }

      form {
        padding: 10px 20px;

        input {
          //box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.05), 0 0px 0 1px rgba(0, 0, 0, 0.01);
          border-width: 1px;
          background-color: $beige-lighter ;
          height: 50px;
          font-size: 1.2rem;
        }

        input::placeholder {
          text-align: center;
          color: $primary;
        }

        a {
          width: 100%;  
          height: 50px;
          font-size: 1.2rem;
        }
          
      }
      
      h5 {
          margin: 5px 0;
      }
  }

  .column {
      background-color: white;
      box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
  }
}