.consultor {

  .navbar-item {
    .button {
      background: white;
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.17);
      font-weight: bold;

      p {
        background-image: linear-gradient(to right, #ff4f50, #ff6247, #ff7340, #fe843b, #fb9438) !important;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
      }

      svg {
        color: #ff6247;

      }

      &:hover {
        background-image: linear-gradient(to right, #ff4f50, #ff6247, #ff7340, #fe843b, #fb9438);

        p,
        svg {
          background-image: initial;
          background-clip: initial;
          text-fill-color: initial;
          -webkit-text-fill-color: initial;
          color: white;
        }
      }
    }
  }

  .hero {
    background-color: transparent !important;
    background-image: url(~@/assets/img/Wave.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;

    /* .hero-body {
      padding-top: 6rem !important;
      padding-bottom: 6rem !important;
    } */
  }

  .slider-hero {
    margin-top: -10em;

    img {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  .texto-entrada {
    float: left;
    margin-left: 25em;
    margin-top: -2em;

    .is-orange {
      color: $orange;
      font-weight: lighter;

      span {
        font-weight: bolder;
      }
    }
  }

  .title {
    font-weight: bold;
    font-size: 2.25rem;
  }

  .hero-body {
    .subtitle {
      font-weight: unset;
      font-size: 1.85rem;

      span {
        font-weight: bold;
      }
    }
  }

  .nav-buttons {
    width: 100%;
    text-align: center;
    margin-top: -5em;

    .button {
      border-width: 1px;
      width: 2.25em;
      height: 2.25em;
      transition: all .15s ease;
    }
  }

  .cards {
    .column {
      border: 1px solid $success-purple;
      background: white;
      border-radius: 4px;
      box-shadow: 0px 0px 35px -10px rgba(134, 80, 134, 0.55);
      height: 120px;
      padding: 10% 5%;
      display: flex;
      justify-content: center;
      align-items: center;

      .data {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        p {
          color: $orange;
          text-transform: uppercase;

          strong {
            color: $orange;
          }
        }
      }
    }

    .subtitle {
      color: $blueish;
      font-weight: 700;
      font-size: 1.85rem;

      span {
        font-size: 1.55rem;
        color: $dark-purple;
        font-weight: 600;
      }
    }
  }

  .cards {
    width: 100%;
    .swiper-z{
      padding: .5em;
      transition: all .3s ease;
      .texto{
        display: none;
      }
      &:hover{
        transition: all .3s ease;
        .texto{
          display: block;
        }
        .data{
          display: none;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-image: none;
      font-size: 18px;
      margin: 0;
      color: $orange;
      border: 1px solid $orange;
      width: 1.8em;
      height: 1.8em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -25px 0px 0px 0px;
    }
  }

  .how-works {

    .swiper-button-next,
    .swiper-button-prev {
      background-image: none;
      background: white;
      font-size: 18px;
      margin: -25px 0px 0px 0px;
      color: $primary;
      border: 1px solid $primary;
      width: 1.8em;
      height: 1.8em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dash-gradient {
    margin: 1.5em auto;
    background-image: linear-gradient(90deg, rgb(237, 231, 254) 0%, rgb(144, 127, 199) 71%, rgb(51, 22, 144) 100%);
    width: 100px;
    height: 6px;
  }

  .card-txt {
    background: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
    padding: .5em .75em;
    border-radius: 8px;
  }

  .card-txt1 {
    position: absolute;
    top: 0%;
    left: 40%;
    background: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
    padding: 1em;
    border-radius: 8px;

    @media screen and (max-width: 425px) {
      position: initial;
      margin: 1em;
    }
  }

  .card-txt2 {
    position: absolute;
    top: 30%;
    left: 65%;
    background: white;
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
    padding: 1em;
    border-radius: 8px;

    @media screen and (max-width: 425px) {
      position: initial;
      margin: 1em;
    }
  }

}