.contact{
    section.hero{
        height: 275px;
    }

    .columns{
        &.first{
            margin-top: -100px;
            .texto-inicio{
                margin: 25px 0 12px 0;
            }
            form{
                padding: 20px;
                input , .textarea{
                    box-shadow: 0 0.5em 1em -0.125em rgba(0,0,0, 0.1), 0 0px 0 1px rgba(0,0,0, 0.02);
                }
                a{
                    margin: 10px 0;
                }
            }
        }
        &.second{
            margin-top: 50px;
            .column{
                margin: 0 20px;
                .circle{
                    height: 64px;
                    width: 64px;
                    display: inline-block;
                    background-color: $grey-light;
                    border-radius: 100%;
                    align-items: center;
                    svg{
                        font-size: 32px;
                        color: $link;
                    }
                }   
            }
        }
        h2{
            margin: 10px 0;
        }
    }

    .column{
        background-color: white;
        box-shadow: 0 0.5em 1em -0.125em rgba(0,0,0, 0.1), 0 0px 0 1px rgba(0,0,0, 0.02);
    }

    
}