.contact{
    &.hero{
        height: 275px;
    }
    
    // @media only screen and (min-width: 1440px) {
    //     .navbar {
    //         margin: 25px 40px;
    //         padding: 0 25px;
    //     }
    // }
    
    // @media only screen and (min-width: 1920px) {
    //     .navbar {
    //       margin: 35px 50px;
    //       padding: 0 125px;
    //     }
    // }
    
    // @media only screen and (min-width: 2560px) {
        .navbar {
          margin: 35px 200px;
          padding: 0 225px;
        }
    // }
}