footer{
  background-image: linear-gradient( 150deg, rgb(63,20,200) 1%, rgb(130,55,244) 100%);
  padding-top: 2.5em;
  .column{
    margin-top: 15px;
    p{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 200;
      svg{
        font-size: 28px;
        margin-right: 5px;
      }
    }
    img{
      margin-top: 15px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .container{
    background-image: url(~@/assets/img/people.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 5em;
  }

}
