.home {
  
  .hero {
    background-color: transparent !important;
    background-image: url(~@/assets/img/bg-gradient.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    .hero-body{
      padding-top: 12rem!important;
    padding-bottom: 12rem!important;
    }
  }

  .anim {
    width: 18em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    animation: float 3s ease infinite;
    position: absolute;
  }

  @keyframes float {
    0% {
      top: 18%
    }

    50% {
      top: 20%
    }

    100% {
      top: 18%
    }
  }

  .slider-hero {
    img {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  .texto-entrada{
    float: right;
    margin-top: -4.5em;
    margin-right: 25em;
  }
  .title {
    font-weight: bold;
    font-size: 2.25rem;
  }
  .hero-body{
    .subtitle {
      font-weight: unset;
      font-size: 1.85rem;
      span {
        font-weight: bold;
      }
    }
  }

  .nav-buttons{
    margin-top: 10em;
    margin-left: 75em;
    .button{
      border-width: 1px;
      width: 2.25em;
      height: 2.25em;
      transition: all .15s ease;
    }
  }
  .cards{
    .column{
      background: white;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 2px 1.5px 5px 2px rgba(0,0,0,0.15);
      p{
        color: $dark-purple;
        text-transform: uppercase;
        strong{
          color: $dark-purple;
        }
      }
    }
    .subtitle{
      color: $blueish;
      font-weight: 700;
      font-size: 1.85rem;
      span{
        font-size: 1.55rem;
        color: $dark-purple;
        font-weight: 600;
      }
    }
  }

  .cards{
    .swiper-button-next, .swiper-button-prev {
      background-image: none;
      font-size: 18px;
      margin: 0;
      color: $blueish;
      border: 1px solid $blueish;
      width: 1.8em;
      height: 1.8em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -50px 50px 0px 50px;
    }
  }

  .precos{
    padding: 1em 4em;
    background-image: linear-gradient( 90deg, rgb(83,245,255) 1%, rgb(113,110,248) 100%);
  }

}