.ler-blog {
    section.hero {
        height: 375px;
        background-image: linear-gradient( 300deg, rgb(146,32,212) 0%, rgb(102,16,209) 100%);
        .hero-body{
            p{
                background-color: rgba(0, 0, 0, 0.3);
                border-width: 0;
                border-radius: 100px;
                color: white;
                display: inline-block;
                padding: 5px 30px;
                strong{
                  color: white;
                }
              }
        }
        
    }

    .blog-posts{

        .card-image{
            .data{
                height: 50px;
                width: 50px;
                margin: 10px 10px -20px 10px;
                position: absolute;
                z-index: 10;
                background-color: white;
            }
        }


        .columns {
            &.first{
                margin-top: -175px;
            }
    
            .column {
                
                background-color: white;
                .card {
                    box-shadow: none;
                    position: relative;
                    .card-content {
                        padding: 10px 0;
                    }
                    
        
                    .card-divider {
                        margin: 0 20px;
                    }
                }
        
            }
        }
    }

    footer{
        margin-top: 100px;
    }


}