.ler-blog {
    section.hero {
        height: 375px;
        background-image: linear-gradient( 300deg, rgb(146,32,212) 0%, rgb(102,16,209) 100%);
        .hero-body{
            p{
                background-color: rgba(0, 0, 0, 0.3);
                border-width: 0;
                border-radius: 100px;
                color: white;
                display: inline-block;
                padding: 5px 30px;
                float: left;
                margin-left: 15%;
                margin-top: -1%;
                @media screen and(max-width: 768px){
                  float: none;
                  margin: 0 auto;
                  width: 100%;
                }
                strong{
                  color: white;
                }
            }
        }
        
    }
    
   
    .blog-posts{
        border-radius: 5px;
        margin-top: -175px;
        background-color: white;
        .card-image{

            .data{
                border-radius: 5px;
                height: 70px;
                width: 60px;
                margin: 10px 10px -20px 10px;
                padding: 4px;
                position: absolute;
                z-index: 10;
                background-color: white;
                span{
                   margin: 0;
                   &.subtitle{
                       font-size: 15px;
                   }
                }
            }

            img{
                border-radius: 5px;
            }
        }


        .columns {
            width: fit-content; 
            .column {
                .card {
                    box-shadow: none;
                    position: relative;

                    .card-image{
                        img{
                            width: 100%;
                        }
                    }
                    .card-content {
                        padding: 10px 0;
                    }
                    
                }
        
            }
        }
    }

    footer{
        margin-top: 100px;
    }


}