.navbar.is-primary {
  .navbar-menu{
    &.is-active{
      background: white!important;
      .button.is-light{
        color: $primary!important;
      }
      .button.is-link{
        color: $primary!important;
        border-color: $primary!important;
      }
      .navbar-item.has-text-dark{
        color: $primary!important;
      }
    }
  }
  margin: 0;
  .social {
    border-color: rgba(255, 255, 255, 0.85) !important;
    color: rgba(255, 255, 255, 0.85) !important;
    width: 2.25em;
    height: 2.25em;

    &.fb-link {
      &:hover {
        color: $fb-color !important;
      }
    }

    &.twt-link {
      &:hover {
        color: $twt-color !important;
      }
    }
  }

  .navbar-dropdown .navbar-item:hover {
    color: $primary !important;
  }

  .navbar-brand {
    img {
      height: 28px;
      width: 178px;
    }
  }

  .navbar-item {
    .button {
      border-width: 1px;
      transition: all .1s ease;
    }
  }

  .navbar-menu {
    .nav-link {
      .button {
        border-color: transparent !important;

        &:hover {
          border-color: $beige-lighter !important;
          background-color: transparent !important;
          color: $beige-lighter !important;
        }
      }
    }
  }

  .navbar-item {
    .is-link {
      &:hover {
        color: $primary !important;
      }
    }
  }

  .navbar-dropdown {
    a {
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    svg {
      margin: 0 10px;
      font-size: 18px;
    }

    .horarios {
      margin-left: 38px;

      p {
        margin-top: 10px;
        font-weight: 900;
      }

      span {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

.navbar.is-secondary {
  .navbar-menu{
    &.is-active{
      background: white!important;
      color: $primary!important;
    }
  }
  margin: 0;
  background: white!important;
  .social {
    width: 2.25em;
    height: 2.25em;
    &.fb-link {
      border-color: $fb-color !important;
      color: $fb-color !important;
      &:hover {
        color: $fb-color !important;
      }
    }

    &.twt-link {
      border-color: $twt-color !important;
      color: $twt-color !important;
      &:hover {
        color: $twt-color !important;
      }
    }
  }

  .navbar-dropdown .navbar-item:hover {
    color: $primary !important;
  }

  .navbar-brand {
    img {
      height: 28px;
      width: 178px;
    }
  }

  .navbar-item {
    .button {
      &.is-link{
        color: $primary!important;
        border-color: $primary!important;
        background-color: transparent!important;
        &:hover{
          color: white!important;
          background-color: $primary!important;
        }
      }
      border-width: 1px;
      transition: all .1s ease;
    }
  }

  .navbar-menu {
    .nav-link {
      .button {
        border-color: transparent !important;
        color: $primary;
        &:hover {
          border-color: $primary !important;
          background-color: transparent !important;
          color: $primary !important;
        }
      }
    }
  }

  .navbar-item {
    .is-link {
      &:hover {
        color: $primary !important;
      }
    }
  }

  .navbar-dropdown {
    a {
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    svg {
      margin: 0 10px;
      font-size: 18px;
    }

    .horarios {
      margin-left: 38px;

      p {
        margin-top: 10px;
        font-weight: 900;
      }

      span {
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

.navbar.is-terciaria {
  .navbar-menu{
    &.is-active{
      background: white!important;
      color: $primary!important;
    }
  }
  margin: 0;

  .navbar-brand {
    img {
      height: 28px;
      width: 178px;
    }
  }

  .navbar-item {
    .button {
      border-width: 1px;
      transition: all .1s ease;
      &.entrar{
        background-color: rgba(0, 0, 0, 0.3);
        border-width: 0;
        color: white;
        &:hover{
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

}