.questions {
    section.hero {
        height: 275px;
    }

    .columns {
        margin-top: -100px;
    }

    .column {

        background-color: white;
        box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);

        .texto-inicio {
            margin: 25px 0 12px 0;
        }

        .contents {
            margin: 50px 0 20px 50px;

            h5 {
                margin: 0px 20px;
            }

            .card {
                padding: 10px 20px;
                box-shadow: none;

                .card-header {
                    box-shadow: none;

                    .card-header-title {
                        padding: 0;
                    }
                }

                .card-content {
                    padding: 10px 0;
                }
            }

            .card-divider {
                margin: 0 20px;
            }
        }
    }


}